@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0c0b0b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0ad6;
    --foreground: #ededed;
  }
}

body {
  color: white;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
